<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
       
        <!--home button with icon-->
        <button mat-list-item routerLink="/admin"> 
            <img src="../../../../assets/images/home-icon.png" class="icon-image" alt="home-icon">
            Home
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <img src="../../../../assets/images/profile-icon.png" class="icon-image" alt="profile-icon">
            Profile
        </button>

        <button mat-list-item routerLink="#">
            <img src="../../../../assets/images/category-icon.png" class="icon-image" alt="category-icon">
            Category
        </button>
        <button mat-list-item routerLink="#">
            <img src="../../../../assets/images/add-category-icon.png" class="icon-image" alt="add-category-icon">
            Add Category
        </button>
        <button mat-list-item routerLink="#">
            <img src="../../../../assets/images/quiz-icon.png" class="icon-image" alt="quiz-icon" />
            Quizzes
        </button>
        <button mat-list-item routerLink="#">
            <img src="../../../../assets/images/add-quiz-icon.png" class="icon-image" alt="add-quiz-icon" />
            Add Quizzes
        </button>
        <button mat-list-item routerLink="#">
            <img src="../../../../assets/images/logout-icon.png" class="icon-image" alt="logout-icon" />
            Logout
        </button>
       
        
    </mat-action-list>
</mat-card>
